@font-face {
  font-family: Avenir;
  src: url("../../fonts/avenir/avenir-book.woff");
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url("../../fonts/avenir/avenir-medium.woff");
  font-weight: 500;
}
