<!-- Analytics -->
<script>
var dataLayer = [{ 
  // Début des variables et de leurs valeurs
  'dimension1': 'bootstrap',
  'dimension2': 'design communication'
  // Fin des variables et de leurs valeurs
}]; 
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KBKM2DF');</script>
<!-- End Google Tag Manager -->

