<script>

  initDarkmode()

  function initDarkmode() {
    const mode = localStorage.getItem('bootstrap-sncf-css-name')
    if (mode === 'dark') {
      document.write('<link rel="stylesheet" type="text/css" title="Mode sombre" name="dark" href="/css/bootstrap-sncf.dark.css" id="activecss">')
      document.write('<link rel="stylesheet alternate" type="text/css" title="Style classique" name="light" href="/css/bootstrap-sncf.css" id="inactivecss">')
    }
    else {
      document.write('<link rel="stylesheet" type="text/css" title="Style classique" name="light" href="/css/bootstrap-sncf.css" id="activecss">')
      document.write('<link rel="stylesheet alternate" type="text/css" title="Mode sombre" name="dark" href="/css/bootstrap-sncf.dark.css" id="inactivecss">')
    }
  }

</script>
