<footer class="bd-footer">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li>
        <p>
          <a class="btn btn-link" href="{{ .Site.Params.repo }}" target="_blank"><span>GitHub</span><i class="icons-external-link icons-size-x75 ml-2"></i></a>
        </p>
      </li>
      <li><a class="btn btn-link" href="{{ .Site.Params.urlother }}/fr" target="_blank"><span>Lien vers {{ .Site.Params.titleother }}</span><i class="icons-external-link icons-size-x75 ml-2"></i></a></li>
      <li><a class="btn btn-link" href="https://digital.sncf.com" target="_blank"><span>Digital SNCF</span><i class="icons-external-link icons-size-x75 ml-2"></i></a></li>
    </ul>
    <p>Forké par la <a class="btn btn-link" target="_blank" href="https://www.digital.sncf.com"><span>Fab Design SNCF</span><i class="icons-external-link icons-size-x75 ml-2"></i></a> 😗</p>
    <p>Designé et fabriqué avec tout l'amour du monde par <a href="https://twitter.com/mdo" target="_blank" rel="noopener">@mdo</a> et <a href="https://twitter.com/fat" target="_blank" rel="noopener">@fat</a>. Maintenu par <a class="btn btn-link" href="https://github.com/orgs/twbs/people"><span>l'équipe principale</span><i class="icons-external-link icons-size-x75 ml-2"></i></a> avec l'aide de <a class="btn btn-link" href="https://github.com/twbs/bootstrap/graphs/contributors" target="_blank"><span>nos contributeurs</span><i class="icons-external-link icons-size-x75 ml-2"></i></a>.</p>
    <p>Version courante <a class="btn btn-link" href="{{ .Site.BaseURL }}fr/docs/{{ .Site.Params.docs_version }}/about/versions"><span>v{{ .Site.Params.current_version }} r{{ .Site.Params.sncf_version }}</span><i class="icons-arrow-next icons-size-x75 ml-2"></i></a>. Code sous licence <a class="btn btn-link" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener"><span>MIT</span><i class="icons-external-link icons-size-x75 ml-2"></i></a>, documentation <a class="btn btn-link" href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener"><span>CC BY 3.0</span><i class="icons-external-link icons-size-x75 ml-2"></i></a>.</p>
  </div>
</footer>
