{{ range (index .Site.Data .Site.Language.Lang (printf "examples-%s" .Site.Params.doc_flavour)) }}
  <span></span>
  <h2 class="mb-0">{{ .category | humanize }}</h2>
  <p class="mt-0">{{ .description }}</p>
  <div class="row">
  {{ range (index .examples) }}
      <div class="col-sm-6 col-md-3 col-xl-2 mb-2">
        {{- $link := .name | urlize -}}
        {{- if .link -}}
          {{- $link = .link | urlize -}}
        {{- end -}}
        <a href="{{ $link }}/" class="doc-example-link">
          <img class="rounded img-fluid mb-3" alt="Exemple d'écran {{ .name }}" src="{{ $.Site.BaseURL }}docs/{{ $.Site.Params.docs_version }}/examples/{{ $link }}/{{ $link }}.png" />
          <h5 class="mb-1">{{ .name }}</h5>
          <p class="text-muted">{{ .description }}</p>
        </a>
      </div>
  {{ end }}
  </div>
{{ end }}
