<div class="row no-gutters ">
  <div class="col col-md-7 col-lg-4">
    <div class="d-flex align-items-center justify-content-between bg-light pl-4 pr-1">
      <div>Lorem ipsum</div>
      <ul class="toolbar mb-0">
        <li class="toolbar-item">
          <button class="btn btn-only-icon btn-transparent btn-color-gray toolbar-item-spacing">
            <span class="sr-only">Filters</span>
            <i class="icons-filters icons-size-1x25"></i>
          </button>
        </li>
        <li class="toolbar-item">
          <button class="btn btn-only-icon btn-transparent btn-color-gray toolbar-item-spacing">
            <span class="sr-only">Sort</span>
            <i class="icons-sort icons-size-1x5"></i>
          </button>
        </li>
      </ul>
    </div>
    <ul class="list-group">
      {% for i in (1..20) %}
      <li class="list-group-item management-item">
        <div class="management-item-symbol">
          <i class="icons-document icons-size-1x25"></i>
        </div>
        <div class="management-item-content">
          <h2 class="mb-0">Titre lorem ipsum dolor sit amet</h2>
          <div><span class="font-weight-medium">Mise à jour</span> le 4 avril 2017</div>
          <div><span class="font-weight-medium">Site :</span> Lorem ipsum</div>
          <div><span class="font-weight-medium">Agent :</span> William Lemire</div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col col-md-5 col-lg-8">
    <div class="d-flex align-items-center justify-content-between bg-light pl-4 pr-2">
      <div>Lorem ipsum</div>
      <ul class="toolbar mb-0">
        <li class="toolbar-item">
          <button class="btn btn-only-icon btn-transparent btn-color-gray toolbar-item-spacing">
            <span class="sr-only">Favorite</span>
            <i class="icons-favorite-on icons-size-1x25"></i>
          </button>
        </li>
        <li class="toolbar-item">
          <button class="btn btn-only-icon btn-transparent btn-color-gray toolbar-item-spacing">
            <span class="sr-only">Options</span>
            <i class="icons-options icons-size-1x5"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>