<div class="row no-gutters ">
  <div class="col col-md-7 col-lg-4">
    <div class="list-group-double-panel-title d-flex align-items-center justify-content-between pl-4 pr-1">
      <div>Lorem ipsum</div>
      <ul class="toolbar mb-0">
        <li class="toolbar-item">
          <button class="btn btn-only-icon btn-transparent btn-color-gray toolbar-item-spacing">
            <span class="sr-only">Filters</span>
            <i class="icons-filters icons-size-1x25" aria-hidden="true"></i>
          </button>
        </li>
        <li class="toolbar-item">
          <button class="btn btn-only-icon btn-transparent btn-color-gray toolbar-item-spacing">
            <span class="sr-only">Sort</span>
            <i class="icons-sort icons-size-1x5" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>
    <ul class="list-group">
      {% for i in (1..20) %}
      <li class="list-group-item management-item">
        <div class="management-item-content">
          <div class="management-item-symbol">
            <i class="icons-document icons-size-1x25" aria-hidden="true"></i>
          </div>
          <div class="management-item-main">
            <h5>Titre lorem ipsum dolor sit amet</h5>
            <ul class="meta-list font-weight-medium">
              <li class="meta-list-item">Mise à jour le 5 mai 2017</li>
              <li class="meta-list-item separator">Site : Lorem ipsum</li>
              <li class="meta-list-item separator separator separator-sm-none separator-md-none">Agent : Marcel Patoulatchi</li>
            </ul>
            <p class="mb-0 d-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non pellentesque mauris, a efficitur urna. Curabitur.</p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col col-md-5 col-lg-8">
    <div class="list-group-double-panel-title d-flex align-items-center justify-content-between pl-4 pr-2">
      <div>Lorem ipsum</div>
      <ul class="toolbar mb-0">
        <li class="toolbar-item">
          <button class="btn btn-only-icon btn-transparent btn-color-gray toolbar-item-spacing">
            <span class="sr-only">Favorite</span>
            <i class="icons-favorite-on icons-size-1x25" aria-hidden="true"></i>
          </button>
        </li>
        <li class="toolbar-item">
          <button class="btn btn-only-icon btn-transparent btn-color-gray toolbar-item-spacing">
            <span class="sr-only">Options</span>
            <i class="icons-options icons-size-1x5" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
