{% for group in (1..3) %}
<li id="group{{ forloop.index }}" class="list-group-item management-item management-item-group" data-component="state" data-state="active" data-behaviour="toggle" data-target="#group{{ forloop.index }}">
  <div class="management-item-content">
    <div class="management-item-checkbox">
      <div class="custom-control custom-checkbox custom-checkbox-alone">
        <input type="checkbox" class="custom-control-input" id="cell{{ forloop.index }}">
        <label class="custom-control-label" for="cell{{ forloop.index }}"></label>
      </div>
    </div>
    <div class="management-item-caret"></div>
    <div class="management-item-symbol">
      <i class="icons-document icons-size-1x25"></i>
    </div>
    <div class="management-item-main">
      <h2 class="mb-0 font-weight-normal">Titre lorem ipsum dolor sit amet</h2>
    </div>
  </div>
  <ul class="management-item-grouplist">
    {% for item in (1..4) %}
    <li class="management-item">
      <div class="management-item-content">
        <div class="management-item-checkbox">
          <div class="custom-control custom-checkbox custom-checkbox-alone">
            <input type="checkbox" class="custom-control-input" id="cell{{ forloop.index }}">
            <label class="custom-control-label" for="cell{{ forloop.index }}"></label>
          </div>
        </div>
        <div class="management-item-symbol management-item-spacing">
          <i class="icons-document icons-size-1x25"></i>
        </div>
        <div class="management-item-main">
          <h2 class="mb-0 font-weight-normal">Titre lorem ipsum dolor sit amet</h2>
        </div>
        <div class="management-item-action">
          <div class="btn btn-only-icon btn-favorite active d-none d-lg-block">
            <span class="sr-only">Ajouter aux favoris</span>
            <i class="icons-favorite-on icons-size-1x25"></i>
          </div>
          <div class="btn-group dropdown">
            <button type="button" class="btn btn-options dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icons-options icons-size-1x75"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Rechercher dans la liste</button>
              <button class="dropdown-item" type="button">Filtrer la liste</button>
              <button class="dropdown-item" type="button">Trier la liste</button>
              <button class="dropdown-item" type="button">Modifier la liste</button>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</li>
{% endfor %}