<nav class="mastnav">
  <div class="mastnav-top">
    <a href="#" class="mastnav-item active">
      <i class="icons-favorite-on icon-size-1x50"></i>
      <span class="font-weight-medium">Favoris</span>
    </a>
    <a href="#" class="mastnav-item">
      <i class="icons-collection icon-size-1x50"></i>
      <span class="font-weight-medium">Collections</span>
    </a>
    <a href="#" class="mastnav-item">
      <i class="icons-document icon-size-1x50"></i>
      <span class="font-weight-medium">Ma base documentaire</span>
    </a>
    <a href="#" class="mastnav-item">
      <i class="icons-distribution icon-size-1x50"></i>
      <span class="font-weight-medium">Distribution</span>
    </a>
    <a href="#" class="mastnav-item">
      <i class="icons-admin icon-size-1x50"></i>
      <span class="font-weight-medium">Admin</span>
    </a>
  </div>
  <div class="mastnav-bottom d-none d-lg-block">
    <a href="#" class="mastnav-item mastnav-item-horizontal">
      <i class="icons-support icon-size-1x50"></i>
      <span class="font-weight-medium">Support</span>
    </a>
  </div>
</nav>