<div class="mastheader">
  <div class="mastheader-logo">
    <a href="/docs">
      <img alt="SNCF" src="{{ site.baseurl }}/assets/img/brand/sncf-logo.png" />
    </a>
  </div>
  <header role="banner" class="mastheader-title d-none d-xl-block">
    <h1 class="text-white text-uppercase pt-2 pl-3 mb-0">Nom application</h1>
  </header>
  <div class="mastheader-search pr-md-4 pl-md-4" data-component="searchbar">
    <label class="font-weight-medium text-white pr-3 mb-0">Rechercher</label>
    <div class="input-group align-items-center">
      <div class="form-control-container" data-component="control" data-clear-option="true">
        <input role="search" type="search" class="form-control clear-option" data-role="input" data-placeholder="Rechercher" />
        <span class="form-control-state"></span>
        <button type="button" class="btn-clear btn-primary d-none" data-btn="clear">
          <span class="sr-only">Clear text</span>
          <i class="icons-close" aria-hidden="true"></i>
        </button>
      </div>
      <div class="input-group-append input-group-last">
        <button type="button" class="btn btn-primary btn-only-icon">
            <span class="sr-only">Search</span>
          <i class="icons-search" aria-hidden="true"></i>
        </button>
      </div>
      <button type="button" class="btn btn-only-icon btn-white d-block d-md-none" data-role="close">
        <span class="sr-only">Close search</span>
        <i class="icons-close icons-size-1x25" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <ul class="mastheader-toolbar toolbar mb-0">
    <li class="toolbar-item separator-gray-500 d-none d-md-flex">
      <div class="btn-group dropdown">
        <button type="button" class="btn btn-transparent dropdown-toggle btn-notif toolbar-item-spacing" type="button" id="notifMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-4, 0">
          <span class="sr-only">Alert</span>
          <i class="icons-alert-notification icons-size-1x25 icons-md-size-1x5" aria-hidden="true"></i>
          <span class="notif">1</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" aria-labelledby="notifMenuButton">
          <div class="d-flex justify-content-between gx-3 gy-2">
            <div class="font-weight-medium text-uppercase">Notifications</div>
            <a href="#">Paramètres</a>
          </div>
          {% for i in (1..4) %}
          <div class="d-flex gt-4 gb-3 border-top">
            <a href="#" class="d-flex text-gray500">
              <div class="gt-1 gx-3">
                <i class="icons-document icons-size-1x75" aria-hidden="true"></i>
              </div>
              <div>
                <span>Lorem ipsum dolor sit am consectetur adispicing</span><br/>
                <span class="text-xs">Il y a 5 minutes</span>
              </div>
            </a>
            <div class="gt-1 gx-3">
              <i class="icons-circle-delete icons-size-1x25" aria-hidden="true"></i>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </li>
    <li class="toolbar-item separator-gray-500 no-separator d-flex d-md-none">
      <button type="button" class="btn btn-only-icon toolbar-item-spacing" data-component="searchbar-toggle">
        <span class="sr-only">Open search</span>
        <i class="icons-search icons-size-1x25 icons-md-size-1x5" aria-hidden="true"></i>
      </button>
    </li>
    <li class="toolbar-item separator-gray-500">
      <div class="btn-group dropdown">
        <button class="btn btn-transparent dropdown-toggle toolbar-item-spacing" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="1, 5" aria-controls="mycontrol">
          <i class="icons-menu-account icons-size-1x25 icons-md-size-1x5 mr-xl-2" aria-hidden="true"></i>
          <span class="d-none d-xl-block">Pierre Dumont</span>
          <i class="icons-arrow-down d-none d-xl-block" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-mastheader" aria-labelledby="dropdownMenuButton" id="mycontrol">
          <ul>
            <li class="dropdown-item"><a href="#">Paramètre du compte</a></li>
            <li class="dropdown-item"><a href="#">Préférences</a></li>
            <li id="darkmode-btn" class="dropdown-item darkmode-btn"><a href="#">Mode sombre/clair</a></li>
            <li class="dropdown-item"><a href="#">Se déconnecter</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
