<div class="options-menu">
  <div class="options-menu-head">
    <div class="options-menu-title">Filtrer par</div>
  </div>
  <div class="g-4">
    <a href="#" class="d-flex justify-content-between pb-3 btn-color-gray">Programme<i class="icons-arrow-next icons-size-x5 ml-2"></i></a>
    <a href="#" class="d-flex justify-content-between pb-3 btn-color-gray">Startup<i class="icons-arrow-next icons-size-x5 ml-2"></i></a>
    <a href="#" class="d-flex justify-content-between pb-3 btn-color-gray">Store<i class="icons-arrow-next icons-size-x5 ml-2"></i></a>
  </div>
</div>