<div class="schedule schedule-planning">
  <div class="schedule-head schedule-row">
    <div class="schedule-col-head schedule-col-hour">
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel text-truncate">Dominique Auder</span>
      <div class="schedule-progress">
        <div class="progress progress-sm">
          <div class="progress-bar" style="width: 50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel text-truncate">William Lemire</span>
      <div class="schedule-progress">
        <div class="progress progress-sm">
          <div class="progress-bar" style="width: 50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel text-truncate">Gaspard Morin</span>
      <div class="schedule-progress">
        <div class="progress progress-sm">
          <div class="progress-bar" style="width: 50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel text-truncate">Leon Michel</span>
      <div class="schedule-progress">
        <div class="progress progress-sm">
          <div class="progress-bar" style="width: 50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel text-truncate">Antoine Colin</span>
      <div class="schedule-progress">
        <div class="progress progress-sm">
          <div class="progress-bar" style="width: 50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel text-truncate">John Doe</span>
      <div class="schedule-progress">
        <div class="progress progress-sm">
          <div class="progress-bar" style="width: 50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel text-truncate">Dupont Dupont</span>
      <div class="schedule-progress">
        <div class="progress progress-sm">
          <div class="progress-bar" style="width: 50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="schedule-row schedule-wholeday">
    <div class="schedule-col-hour">
      <div class="schedule-hourlabel">Journée<br/> entière</div>
    </div>
    <div class="schedule-col-content"></div>
    <div class="schedule-col-content"></div>
    <div class="schedule-col-content"></div>
    <div class="schedule-col-content"></div>
    <div class="schedule-col-content"></div>
    <div class="schedule-col-content"></div>
    <div class="schedule-col-content"></div>
  </div>
  <div class="schedule-content">
    <div class="schedule-row">
      <div class="schedule-col-content schedule-col-hour">
        <div class="schedule-cell">
          <div class="schedule-hournumber">8:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">9:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">10:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">11:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">12:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">13:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">14:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">15:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">16:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">17:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">18:00</div>
        </div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="event event-planning event-day" style="top: 9.375rem; height: 7.5rem">
          <div class="pb-1 text-base font-weight-medium">Contrôle 2h</div>
          <div class="text-gray400">Agent <br/><span class="text-truncate text-gray600">Dominique Auder</div>
          <div class="text-gray400">Objet <br/><span class="text-truncate text-gray600">Posséde un piano</span></div>
        </div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
      </div>
    </div>
  </div>
</div>
