<div class="event-modal {{ include.direction }}" data-role="event-modal">
  <div class="event-modal-head d-lg-none">
    <div class="event-modal-title">Titre de l'évènement</div>
    <ul class="toolbar mb-0">
      <li class="toolbar-item">
        <button class="btn btn-sm btn-white toolbar-item-spacing">
          <span class="sr-only">Restore</span>
          <i class="icons-refresh icons-size-1x25" aria-hidden="true"></i>
        </button>
      </li>
      <li class="toolbar-item">
        <button class="btn btn-sm btn-white toolbar-item-spacing" data-role="modal-event-close">
          <span class="sr-only">Close</span>
          <i class="icons-close icons-size-1x" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="event-modal-content">
    <h2 class="h1 mb-2 d-none d-lg-block">Titre de l'évènement</h2>
    <h3 class="mt-4 mb-1 schedule-chip">Agenda</h3>
    <span>Agenda 2</span>
    <h3 class="mt-4 mb-1">Date</h3>
    <span>Lundi 1er Juin 2017</span><br/>
    <span>8:00 - 9:00</span>
    <h3 class="mt-4 mb-1">Description</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    <h3 class="mt-4 mb-1">Participants</h3>
    <span>Gaspard MORIN, Léon MICHEL</span>
  </div>
</div>