<div class="schedule schedule-monthly">
  <div class="schedule-head schedule-row">
    <div class="schedule-col-head">
      <span class="schedule-daylabel d-none d-md-inline-block">Lundi</span>
      <span class="schedule-daylabel d-md-none">L</span>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel d-none d-md-inline-block">Mardi</span>
      <span class="schedule-daylabel d-md-none">M</span>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel d-none d-md-inline-block">Mercredi</span>
      <span class="schedule-daylabel d-md-none">M</span>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel d-none d-md-inline-block">Jeudi</span>
      <span class="schedule-daylabel d-md-none">J</span>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel d-none d-md-inline-block">Vendredi</span>
      <span class="schedule-daylabel d-md-none">V</span>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel d-none d-md-inline-block">Samedi</span>
      <span class="schedule-daylabel d-md-none">S</span>
    </div>
    <div class="schedule-col-head">
      <span class="schedule-daylabel d-none d-md-inline-block">Dimanche</span>
      <span class="schedule-daylabel d-md-none">D</span>
    </div>
  </div>
  <div class="schedule-content">
    <div class="schedule-row">
      <div class="schedule-col-content">
        <div class="schedule-daynumber disabled"><span><i>1</i></span></div>
        <div class="event event-month d-none d-md-flex">8:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-month d-none d-md-flex">9:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-color-1 event-month d-none d-md-flex">10:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber current"><span><i>2</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>3</i></span></div>
        <div class="event event-color2 event-month d-none d-md-flex">9:30 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>4</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>5</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>6</i></span></div>
        <div class="event event-color2 event-month d-none d-md-flex">8:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-month d-none d-md-flex">9:30 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-color2 event-month d-none d-md-flex">14:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>7</i></span></div>
      </div>
    </div>
    <div class="schedule-row">
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>8</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>9</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>10</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>11</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>12</i></span></div>
        <div class="event event-month d-none d-md-flex">8:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-month d-none d-md-flex">9:30 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-month d-none d-md-flex">14:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>13</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>14</i></span></div>
      </div>
    </div>
    <div class="schedule-row">
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>15</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>16</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>17</i></span></div>
        <div class="event event-color2 event-month d-none d-md-flex">8:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-month d-none d-md-flex">9:30 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-month d-none d-md-flex">12:55 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>18</i></span></div>
        <div class="event event-color2 event-month d-none d-md-flex">8:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-month d-none d-md-flex">9:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <button type="button" class="btn-link event-more d-none d-md-inline-block">+ 3 évènements</button>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>19</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>20</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>21</i></span></div>
      </div>
    </div>
    <div class="schedule-row">
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>22</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>23</i></span></div>
        <div class="event event-color3 event-month d-none d-md-flex">8:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-color3 event-month d-none d-md-flex">9:30 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-color3 event-month d-none d-md-flex">12:55 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>24</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>25</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>26</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>27</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>28</i></span></div>
      </div>
    </div>
    <div class="schedule-row">
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>29</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>30</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber"><span><i>31</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber disabled"><span><i>1</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber disabled"><span><i>2</i></span></div>
        <div class="event event-color3 event-month d-none d-md-flex">8:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-color3 event-month d-none d-md-flex">9:30 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
        <div class="event event-color3 event-month d-none d-md-flex">14:00 <span class="pl-1 text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber disabled"><span><i>3</i></span></div>
      </div>
      <div class="schedule-col-content">
        <div class="schedule-daynumber disabled"><span><i>4</i></span></div>
      </div>
    </div>
  </div>
</div>
