<div class="schedule schedule-weekly">
  <div class="schedule-head schedule-row">
    <div class="schedule-col-head schedule-col-hour">
    </div>
    <div class="schedule-col-head">
        <span class="schedule-daylabel">Lun<span class="d-none d-lg-inline">di</span> <span class="d-lg-none">.</span>&nbsp;01</span>
    </div>
    <div class="schedule-col-head">
        <span class="schedule-daylabel current">Mar<span class="d-none d-lg-inline">di</span><span class="d-lg-none">.</span>&nbsp;02</span>
    </div>
    <div class="schedule-col-head">
        <span class="schedule-daylabel">Mer<span class="d-none d-lg-inline">credi</span><span class="d-lg-none">.</span>&nbsp;03</span>
    </div>
    <div class="schedule-col-head">
        <span class="schedule-daylabel">Jeu<span class="d-none d-lg-inline">di</span><span class="d-lg-none">.</span>&nbsp;04</span>
    </div>
    <div class="schedule-col-head">
        <span class="schedule-daylabel">Ven<span class="d-none d-lg-inline">dredi</span><span class="d-lg-none">.</span>&nbsp;05</span>
    </div>
    <div class="schedule-col-head">
        <span class="schedule-daylabel">Sam<span class="d-none d-lg-inline">edi</span><span class="d-lg-none">.</span>&nbsp;06</span>
    </div>
    <div class="schedule-col-head">
        <span class="schedule-daylabel">Dim<span class="d-none d-lg-inline">anche</span><span class="d-lg-none">.</span>&nbsp;07</span>
    </div>
  </div>
  <div class="schedule-row schedule-wholeday">
    <div class="schedule-col-hour">
      <div class="schedule-hourlabel">Journée<br/> entière</div>
    </div>
    <div class="schedule-col-content"><div class="event event-day"><span class="text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div></div>
    <div class="schedule-col-content"></div>
    <div class="schedule-col-content"></div>
    <div class="schedule-col-content"><div class="event event-day"><span class="text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing</span></div></div>
    <div class="schedule-col-content"></div>
    <div class="schedule-col-content"></div>
    <div class="schedule-col-content"></div>
  </div>
  <div class="schedule-content">
    <div class="schedule-row">
      <div class="schedule-col-content schedule-col-hour">
        <div class="schedule-cell">
          <div class="schedule-hournumber">8:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">9:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">10:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">11:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">12:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">13:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">14:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">15:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">16:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">17:00</div>
        </div>
        <div class="schedule-cell">
          <div class="schedule-hournumber">18:00</div>
        </div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div data-role="event" class="event event-color1 event-day" style="top: 3.750rem; height: 3.75rem">
          <span>Lorem ipsum dol sit amet</span>
          {% include components/schedule-event-modal.html direction="right" %}
        </div>
        <div data-role="event" class="event event-color1 event-day" style="top: 9.375rem; height: 3.75rem">
          <span>Dola vap numi sin avotul</span>
          {% include components/schedule-event-modal.html direction="right" %}
        </div>
        <div data-role="event" class="event event-day" style="top: 11.25rem; right: 0; width: 50%; height: 7.5rem">
          <span>Buvare ut non quis execita</span>
          {% include components/schedule-event-modal.html direction="right" %}
        </div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div data-role="event" class="event event-color3 event-day" style="top: 9.375rem; height: 9.375rem">
          <span>Lucie Gautier</span><span>Dola vapis numi.</span>
          {% include components/schedule-event-modal.html direction="right" %}
        </div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
      </div>
      <div class="schedule-col-content schedule-col-event">
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
        <div class="schedule-cell" aria-hidden="true"></div>
      </div>
    </div>
  </div>
</div>
