<div class="select-improved" data-component="select-exclusive">
  <div class="select-control">
    <div class="input-group" data-role="select-toggle">
      <p class="form-control is-placeholder {{ include.formcontrol }} d-flex align-items-center" data-role="placeholder" data-selected-prefix="Sélection actuelle">{{ include.placeholder }}</p>
      <select class="sr-only" id="{{ include.id }}" data-role="input" tabindex="-1" aria-hidden="true">
        <option {{ include.placeholderAttr }} data-role="default-hidden-option" disabled hidden>{{ include.placeholder }}</option>
        {% for item in include.items %}<option data-id="{{ forloop.index }}" {{ item.attr }}>{{ item.name }}</option>
        {% endfor %}
      </select>
      <div class="input-group-append input-group-last">
        <button class="btn btn-primary btn-only-icon {{ include.btn }}" data-role="btn" type="button" aria-expanded="false" aria-controls="selecttoggle">
          <i class="icons-arrow-down {{ include.iconsize }}" aria-hidden="true"></i>
          <span class="sr-only">Sélectionner</span>
        </button>
      </div>
    </div>
    <div class="select-menu" id="{{ item.id }}-selecttoggle">
      <div class="d-flex flex-column">
        <div class="flex-fluid overflow-y" role="list" data-role="menu">
          {% for item in include.items %}<span class="select-menu-item" role="listitem"><button data-role="value" data-target="{{ forloop.index }}">{{ item.name }}</button></span>
          {% endfor %}
        </div>
        {{- include.content }}
      </div>
    </div>
  </div>
</div>
