<div class="select-improved" data-component="select-exclusive">
  <div class="select-control">
    <div class="input-group" data-role="select-toggle">
      <div class="form-control is-placeholder {{ include.formcontrol }} d-flex align-items-center" data-role="placeholder">{{ include.placeholder }}</div>
      <select class="sr-only" id="{{ include.id }}" data-role="input" tabindex="-1" aria-hidden="true">
        <option {{ include.placeholderAttr }} data-role="default-hidden-option" disabled hidden>{{ include.placeholder }}</option>
        {% for item in include.items %}<option data-id="{{ forloop.index }}" {{ item.attr }}>{{ item.name }}</option>
        {% endfor %}
      </select>
      <div class="input-group-append input-group-last">
        <button class="btn btn-primary btn-only-icon {{ include.btn }}" data-role="btn" type="button">
          <i class="icons-arrow-down {{ include.iconsize }}"></i>
        </button>
      </div>
    </div>
    <div class="select-menu">
      <div class="d-flex flex-column">
        <div class="flex-fluid overflow-y" data-role="menu">
          {% for item in include.items %}<button class="select-menu-item" data-role="value" data-target="{{ forloop.index }}">{{ item.name }}</button>
          {% endfor %}
        </div>
        {{- include.content }}
      </div>
    </div>
  </div>
</div>