<div class="table-wrapper">
  <div class="table-scroller dragscroll">
    <table class="table mb-0">
      <caption class="sr-only">Titre</caption>
      <thead class="thead thead-light">
        <tr>
          <th scope="col">
            <div class="cell-inner">
              {% include components/checkbox.html container="custom-checkbox-alone" name="thead" id="thead" %}
            </div>
          </th>
          <th scope="col"><div class="cell-inner cell-sort active">Nom <i class="ml-2 icons-sort"></i></div></th>
          <th scope="col"><div class="cell-inner">
            <div class="dropdown">
              <div class="dropdown-toggle btn-color-gray btn-transparent" type="button" data-toggle="dropdown" data-offset="24, 0">
                <span>Type</span>
                <i class="icons-arrow-down" aria-hidden="true"></i>
              </div>
              <div class="dropdown-menu dropdown-menu-right">
                <ul>
                  <li class="dropdown-item"><a href="#">Action</a></li>
                  <li class="dropdown-item"><a href="#">Another action</a></li>
                  <li class="dropdown-item"><a href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div></th>
          <th scope="col"><div class="cell-inner">Vers</div></th>
          <th scope="col"><div class="cell-inner">Agent</div></th>
          <th scope="col"><div class="cell-inner cell-sort">Mise à jour <i class="ml-2 icons-sort"></i></div></th>
          <th scope="col"><span class="sr-only">Actions</span></th>
        </tr>
      </thead>
      <tbody class="tbody">
        {% for item in include.data %}
        <tr>
          <td>
            <div class="cell-inner">
              {% include components/checkbox.html container="custom-checkbox-alone" name=forloop.index id=forloop.index %}
            </div>
          </td>
          <td><div class="cell-inner">{{ item.name }}</div></td>
          <td><div class="cell-inner">{{ item.type }}</div></td>
          <td><div class="cell-inner">{{ item.version }}</div></td>
          <td><div class="cell-inner">{{ item.agent }}</div></td>
          <td><div class="cell-inner">{{ item.update }}</div></td>
          <td>
            <div class="cell-inner justify-content-end">
              <button class="btn btn-only-icon btn-transparent btn-favorite">
                <span class="sr-only">Favorite</span>
                <i class="icons-favorite-on icons-size-1x25" aria-hidden="true"></i>
              </button>
              <button class="btn btn-only-icon btn-transparent btn-color-gray">
                <span class="sr-only">Favorite</span>
                <i class="icons-circle-information icons-size-1x25" aria-hidden="true"></i>
              </button>
              <div class="btn-group dropdown">
                <button class="btn btn-only-icon btn-transparent btn-color-gray" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window" aria-controls="toggle{{ forloop.index }}">
                  <span class="sr-only">Actions</span>
                  <i class="icons-options icons-size-1x75" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" id="toggle{{ forloop.index }}">
                  <button type="button" class="dropdown-item" href="#">Télécharger</button>
                  <button type="button" class="dropdown-item" href="#">Imprimer</button>
                  <button type="button" class="dropdown-item" href="#">Partager</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
