<div class="table-wrapper" data-component="table">
  <div class="table-scroller last-cell-fixed dragscroll">
    <table class="table mb-0">
      <caption class="sr-only">Titre</caption>
      <thead class="thead thead-light">
        <tr>
          <th><div class="cell-inner cell-inner-350">Nom</div></th>
          <th><div class="cell-inner">Type</div></th>
          <th><div class="cell-inner">Vers</div></th>
          <th><div class="cell-inner">Agent</div></th>
          <th><div class="cell-inner">Mise à jour</div></th>
          <td class="cell-placeholder" aria-hidden="true"><span></span></td>
          <th class="cell-fixed"><span class="sr-only">Actions</span></th>
        </tr>
      </thead>
      <tbody class="tbody">
        {% for item in include.data %}
        {% assign index = forloop.index %}
        <tr class="trhead">
          <td class="cell-350 cell-caret" data-role="toggle-group-btn" data-id="{{ index }}"><div class="cell-inner">{{ item.name }}</div></td>
          <td><div class="cell-inner">{{ item.type }}</div></td>
          <td><div class="cell-inner">{{ item.version }}</div></td>
          <td><div class="cell-inner">{{ item.agent }}</div></td>
          <td><div class="cell-inner">{{ item.update }}</div></td>
          <td class="cell-placeholder"><span></span></td>
          <td class="cell-fixed">
            <div class="cell-inner btn-group dropdown">
              <button class="btn btn-only-icon btn-transparent btn-color-gray" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window" aria-controls="toggle{{ forloop.index }}">
                <span class="sr-only">Actions</span>
                <i class="icons-options icons-size-1x75" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" id="toggle{{ forloop.index }}">
                <button type="button" class="dropdown-item" href="#">Télécharger</button>
                <button type="button" class="dropdown-item" href="#">Imprimer</button>
                <button type="button" class="dropdown-item" href="#">Partager</button>
              </div>
            </div>
          </td>
        </tr>
        </tr>
        {% for subitem in item.subrows %}
          <tr class="trgroup" data-trgroup="{{ index }}">
            <td class="cell-350" colspan="6"><div class="cell-inner"><div class="text-truncate">{{ subitem.name }}</div></div></td>
          </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>