<div id="collapseSearchMenu" class="table-filters active">
  <div class="table-filters-head">
    <div class="table-filters-title">Rechercher</div>
    <ul class="toolbar mb-0">
      <li class="toolbar-item">
        <button class="btn btn-sm btn-white toolbar-item-spacing" data-component="state" data-state="active, active" data-behaviour="remove, remove" data-target="#collapseSearchMenu, .collapseSearchButton">
          <span class="sr-only">Close</span>
          <i class="icons-close icons-size-1x"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="table-filters-menu">
    <div class="filters-group">
      <div class="filters-menu-item">
        <label>Type</label>
        {% include components/select-multiple.html formcontrol="form-control-sm" btn="btn-sm" iconsize="icons-size-x5"  %}
      </div>
      <div class="filters-menu-item">
        <label>Titre</label>
        {% include components/select-exclusive.html formcontrol="form-control-sm" btn="btn-sm" placeholder="Saisir un titre" placeholderAttr="selected" iconsize="icons-size-x5" items=page.default  %}
      </div>
      <div class="filters-menu-item">
        <label>Agent</label>
        {% include components/select-exclusive.html formcontrol="form-control-sm" btn="btn-sm" placeholder="Saisir un nom" placeholderAttr="selected" iconsize="icons-size-x5" items=page.default  %}
      </div>
      <div class="filters-menu-item">
        <label>Liste</label>
        {% include components/select-exclusive.html formcontrol="form-control-sm" btn="btn-sm" placeholder="Saisir un nom" placeholderAttr="selected" iconsize="icons-size-x5" items=page.default  %}
      </div>
      <div class="filters-menu-item">
        <button type="button" class="btn btn-sm btn-primary btn-block">Rechercher</button>
      </div>
    </div>
  </div>
</div>