<div class="form-control-container" data-component="control">
  <textarea class="form-control stretchy {{ include.class }}" id="{{ include.id }}" placeholder="{{ include.placeholder }}" data-role="input">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex illum aliquid, quis, labore sed ullam porro quam dolor error enim fuga et. Ratione assumenda, facilis illum placeat eligendi animi architecto.</textarea>
  <span class="form-control-state"></span>
</div>
<div class="mt-2 font-weight-medium" data-role="counter" data-limit="200"><span data-role="counter-value">0</span>/200 caractères</div>