@font-face {
    font-family: "icons";
    src: url("../assets/fonts/icons/icons.eot?c1ad4cba970f8006fb830b0c3a2497d6?#iefix") format("embedded-opentype"),
url("../assets/fonts/icons/icons.woff2?c1ad4cba970f8006fb830b0c3a2497d6") format("woff2"),
url("../assets/fonts/icons/icons.woff?c1ad4cba970f8006fb830b0c3a2497d6") format("woff"),
url("../assets/fonts/icons/icons.ttf?c1ad4cba970f8006fb830b0c3a2497d6") format("truetype"),
url("../assets/fonts/icons/icons.svg?c1ad4cba970f8006fb830b0c3a2497d6#icons") format("svg");
}

i {
    line-height: 1;
}

i:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.icons-account-offline:before {
    content: "\f101";
}
.icons-add:before {
    content: "\f102";
}
.icons-admin:before {
    content: "\f103";
}
.icons-agenda:before {
    content: "\f104";
}
.icons-alert-underline:before {
    content: "\f105";
}
.icons-arrow-down:before {
    content: "\f106";
}
.icons-arrow-next:before {
    content: "\f107";
}
.icons-arrow-prev:before {
    content: "\f108";
}
.icons-arrow-up:before {
    content: "\f109";
}
.icons-check:before {
    content: "\f10a";
}
.icons-close:before {
    content: "\f10b";
}
.icons-collection:before {
    content: "\f10c";
}
.icons-delete:before {
    content: "\f10d";
}
.icons-distribution:before {
    content: "\f10e";
}
.icons-divers:before {
    content: "\f10f";
}
.icons-document:before {
    content: "\f110";
}
.icons-download:before {
    content: "\f111";
}
.icons-earth-underline:before {
    content: "\f112";
}
.icons-edit:before {
    content: "\f113";
}
.icons-external-link:before {
    content: "\f114";
}
.icons-favorite-on:before {
    content: "\f115";
}
.icons-filters:before {
    content: "\f116";
}
.icons-interrogation:before {
    content: "\f117";
}
.icons-liste:before {
    content: "\f118";
}
.icons-message:before {
    content: "\f119";
}
.icons-mosaic:before {
    content: "\f11a";
}
.icons-options:before {
    content: "\f11b";
}
.icons-restore:before {
    content: "\f11c";
}
.icons-sami-confused:before {
    content: "\f11d";
}
.icons-sami-grin:before {
    content: "\f11e";
}
.icons-sami-sad:before {
    content: "\f11f";
}
.icons-sami-smile:before {
    content: "\f120";
}
.icons-schedule:before {
    content: "\f121";
}
.icons-search:before {
    content: "\f122";
}
.icons-share:before {
    content: "\f123";
}
.icons-sort:before {
    content: "\f124";
}
.icons-support:before {
    content: "\f125";
}
.icons-tag:before {
    content: "\f126";
}
