<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li>
        <p>
          <a class="btn btn-link" href="{{ site.repo }}" target="_blank"><span>GitHub</span><i class="icons-external-link icons-size-x75 ml-2"></i></a>
        </p>
      </li>
      <li><a class="btn btn-link" href="{{ site.urlother }}" target="_blank"><span>Link to {{ site.titleother }}</span><i class="icons-external-link icons-size-x75 ml-2"></i></a></li>
      <li><a class="btn btn-link" href="https://digital.sncf.com" target="_blank"><span>Digital SNCF</span><i class="icons-external-link icons-size-x75 ml-2"></i></a></li>
    </ul>
    <p>Forked by <a class="btn btn-link" target="_blank" href="https://www.digital.sncf.com"><span>Fab Design SNCF</span><i class="icons-external-link icons-size-x75 ml-2"></i></a>, with all our love.</p>
    <p>Designed and built with all the love in the world by, <a href="https://twitter.com/mdo" target="_blank" rel="noopener">@mdo</a> and <a href="https://twitter.com/fat" target="_blank" rel="noopener">@fat</a>. Maintained by the <a class="btn btn-link" href="https://github.com/orgs/twbs/people"><span>core team</span><i class="icons-external-link icons-size-x75 ml-2"></i></a> with the help of <a class="btn btn-link" href="https://github.com/twbs/bootstrap/graphs/contributors" target="_blank"><span>our contributors</span><i class="icons-external-link icons-size-x75 ml-2"></i></a>.</p>
    <p>Currently <a class="btn btn-link" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/versions"><span>v{{ site.current_version }} r{{ site.sncf_version }}</span><i class="icons-arrow-next icons-size-x75 ml-2"></i></a>. Code licensed <a class="btn btn-link" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener"><span>MIT</span><i class="icons-external-link icons-size-x75 ml-2"></i></a>, docs <a class="btn btn-link" href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener"><span>CC BY 3.0</span><i class="icons-external-link icons-size-x75 ml-2"></i></a>.</p>
  </div>
</footer>
