/* flatpick
   ========================================================================== */

.flatpickr-input {
  &[readonly] {
    font-weight: $font-weight-medium;
    color: $input-color;
    background-image: none;
  }
}

.flatpickr-wrapper {
  width: 100%;
}

.flatpickr-calendar {
  // stylelint-disable declaration-no-important
  width: rem(306px) !important;
  // stylelint-enable declaration-no-important
  // min-width: 100%;
  padding: rem(24px) rem(30px);
  margin-top: rem(10px);
  font-size: rem(12px);
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  box-shadow: none;

  &.arrowTop::before {
    border-bottom-color: $border-color;
  }

  &::after {
    right: rem(24px);
    left: auto;
    margin: 0 -9px;
    border-width: 9px;
  }

  &::before {
    right: rem(24px);
    left: auto;
    margin: 0 -10px;
    border-width: 10px;
  }

  &.static {
    right: 0;
  }

  &.rangeMode {
    right: auto;
    left: 0;

    &::after,
    &::before {
      right: auto;
      left: rem(24px);
    }
  }
}

.flatpickr-months {
  position: relative;
  padding-bottom: rem(30px);
  color: theme-color("primary");
  fill: theme-color("primary");

  .flatpickr-month,
  .flatpickr-month.flatpickr-prev-month,
  .flatpickr-month.flatpickr-next-month {
    color: theme-color("primary");

    &:hover {
      color: theme-color("primary");
    }
  }
}

.flatpickr-current-month {
  pointer-events: none;

  .cur-month.cur-month,
  .cur-year.cur-year {
    font-size: rem(20px);
    font-weight: $font-weight-medium;
  }
}

.flatpickr-weekday.flatpickr-weekday {
  font-size: rem(12px);
  color: gray("600");
}

.flatpickr-days {
  // stylelint-disable declaration-no-important
  width: 100% !important;
  // stylelint-enable declaration-no-important
}

.flatpickr-rContainer,
.dayContainer {
  width: 100%;
  min-width: auto;
}

.flatpickr-day {
  flex-basis: 29px;
  width: rem(29px);
  height: rem(29px);
  margin: rem(4px) rem(1px);
  line-height: 29px;

  &.today {
    z-index: 2;
    font-weight: $font-weight-medium;
    color: color("white");
    background-color: gray("500");
    border-color: gray("500");

    &.inRange {
      color: theme-color("primary");
      background-color: #e5f3fa;
      border-color: #e5f3fa;
    }
  }

  &.selected,
  &.focus,
  &.endRange.endRange,
  &.startRange.startRange {
    font-weight: $font-weight-medium;
    color: color("white");
    background-color: theme-color("primary");
    border-color: theme-color("primary");

    &:hover {
      background-color: theme-color("primary-dark");
      border-color: theme-color("primary-dark");
    }
  }

  &.endRange.endRange,
  &.startRange.startRange {
    z-index: 2;
    border-radius: 50%;
  }

  &.startRange + &.inRange {
    &::before {
      position: absolute;
      top: -1px;
      right: 100%;
      display: block;
      width: 100%;
      height: calc(100% + 2px);
      content: "";
      background-color: #e5f3fa;
    }
  }

  &.inRange,
  &.nextMonthDay.inRange,
  &.prevMonthDay.inRange {
    background-color: #e5f3fa;
    border-color: #e5f3fa;
    box-shadow: -5px 0 0 #e5f3fa, 5px 0 0 #e5f3fa;

    &::after {
      position: absolute;
      top: -1px;
      left: 100%;
      display: block;
      width: 100%;
      height: calc(100% + 2px);
      content: "";
      background-color: #e5f3fa;
    }
  }

  &.selected.startRange + .endRange,
  &.startRange.startRange + .endRange,
  &.endRange.startRange + .endRange {
    box-shadow: none;
  }
}

/* stylelint-disable selector-no-qualifying-type */
.flatpickr-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: none;
  color: gray("400");

  .numInputWrapper {
    display: inline-flex;
    float: none;
    height: auto;
    padding-left: rem(75px);
    background: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      font-size: rem(18px);
      line-height: rem(50px);
    }
    &:first-child::before {
      content: "Heures";
    }
    &:last-child::before {
      content: "Minutes";
    }

    span.arrowDown,
    span.arrowUp {
      position: absolute;
      top: 0;
      width: rem(24px);
      height: 100%;
      padding: 0;
      line-height: 1;
      background-repeat: no-repeat;
      border: 0;
      opacity: 1;
      &::after { opacity: 0; }
      &:hover {
        background-color: transparent;
      }
    }

    span.arrowDown {
      left: rem(75px);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 2'%3e%3cdefs%3e%3cstyle%3e.a%7bfill:%230088ce;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eSans titre - 1%3c/title%3e%3crect class='a' width='12' height='2'/%3e%3c/svg%3e");
      background-position: center right;
      background-size: 12px 2px;
    }
    span.arrowUp {
      right: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3e%3cdefs%3e%3cstyle%3e.a%7bfill:%230088ce;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eSans titre - 1%3c/title%3e%3crect class='a' y='5' width='12' height='2'/%3e%3crect class='a' y='5' width='12' height='2' transform='translate(0 12) rotate(-90)'/%3e%3c/svg%3e");
      background-position: center left;
      background-size: 12px 12px;
    }
  }

  &.time24hr .numInputWrapper {
    width: auto;
  }

  input.flatpickr-hour {
    font-weight: $font-weight-normal;
  }

  .numInput {
    width: rem(86px);
    height: rem(50px);
    font-size: rem(18px);
    background-color: gray("100");
    border-radius: rem(7px);

    &.input { font-weight: $font-weight-normal; }
  }
}
/* stylelint-enable selector-no-qualifying-type */

// .flatpickr-calendar.hasTime .flatpickr-time,
.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  height: 100%;
  padding-top: rem(10px);
  border-top: none;
}

/* stylelint-disable selector-max-class, no-duplicate-selectors */
.flatpickr-time {
  .flatpickr-time-separator {
    height: 10px;
    text-indent: -9999px;
  }
}
/* stylelint-enable selector-max-class, no-duplicate-selectors */
