/* progress
   ========================================================================== */

.progress {
  display: flex;
  height: $progress-height;
  font-size: $progress-font-size;
  color: $progress-bar-color;
  background-color: $progress-bg;
  background-image: linear-gradient(90deg, #e1ded9 50%, transparent 50%);
  background-size: rem(4px) $progress-height;
  @include border-radius($progress-border-radius);
  @include box-shadow($progress-box-shadow);

  &.has-label {
    margin-top: rem(38px);
  }
}

.progress-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $progress-bar-color;
  text-align: center;
  background-color: $progress-bar-bg;
  @include border-radius($progress-border-radius);
  @include transition($progress-bar-transition);
}

.progress-label {
  position: absolute;
  left: 100%;
  bottom: calc(100% + #{rem(8px)});
  font-size: rem(24px);
  font-weight: $font-weight-medium;
  // transform: translateX(50%);

  sup {
    font-size: rem(14px);
  }

  .progress-bar[aria-valuenow="100"] & {
    left: auto;
    right: 0;
    color: theme-color("primary");
  }
}
