/* select
   ========================================================================== */

$select-scrollable-max-height: rem(360px);

.select-improved {
  &:not(.active) {
    .select-menu {
      display: none;
    }
  }

  .form-control.is-placeholder {
    color: $input-placeholder-color;
  }
}

.select-control {
  position: relative;

  .select-improved.active > & {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: " ";
      border-top: gray("200") solid 1px;
      border-left: gray("200") solid 1px;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    // stylelint-disable selector-max-class
    > .input-group .form-control {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .input-group-last > .btn {
      border-bottom-right-radius: 0;
    }
    // stylelint-enable selector-max-class
  }
}

.select-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: $select-scrollable-max-height;
  padding: rem(20px);
  overflow-y: auto;
  background-color: color("white");
  border-right: gray("200") solid 1px;
  border-bottom: gray("200") solid 1px;
  border-left: gray("200") solid 1px;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.select-menu-item {
  width: 100%;
  padding: 0;
  font-weight: $font-weight-medium;
  color: gray("500");
  text-align: left;
  cursor: pointer;
  background: none;
  border: 0;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: theme-color("primary");
  }

  + .select-menu-item {
    margin-top: rem(14px);
  }
}

.select-group {
  + .select-group {
    margin-top: rem(18px);
  }
}

.select-group-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .select-group-close {
    display: none;
  }

  .select-group-show {
    display: inline-block;
  }

  [class^="icons-arrow-"] {
    display: inline-block;
    transition: transform .15s ease-out;
  }

  &[data-role="collapse"] > * {
    pointer-events: none;
  }

  &.active {
    .select-group-close {
      display: inline-block;
    }

    .select-group-show {
      display: none;
    }

    [class^="icons-arrow-"] {
      transform: rotate(180deg);
    }
  }
}

.select-group-title {
  padding: 0;
  font-weight: $font-weight-medium;
  color: gray("500");
  text-align: left;
  cursor: pointer;
  background: none;
  border: 0;
}

.select-group-content {
  padding-top: rem(14px);
  padding-left: rem(28px);
}
