<div class="schedule-planning-menu">
  <div class="schedule-planning-menu-inner">
    <div class="text-uppercase font-weight-medium pb-3">Action<br/> à planifier</div>
    <div class="event event-planning event-day">
      <button class="event-close btn-only-icon btn-sm btn-transparent btn-color-gray">
        <span class="sr-only">Close</span>
        <i class="icons-close icons-size-x5" aria-hidden="true"></i>
      </button>
      <div class="pb-1 text-base font-weight-medium">Contrôle 2h</div>
      <div class="text-gray400">Agent <br/><span class="text-gray600">Dominique Auder</span></div>
      <div class="text-gray400">Objet <br/><span class="text-gray600">Posséde un carnet de PV</span></div>
    </div>

    <div class="event event-planning event-day">
      <button class="event-close btn-only-icon btn-sm btn-transparent btn-color-gray">
        <span class="sr-only">Close</span>
        <i class="icons-close icons-size-x5" aria-hidden="true"></i>
      </button>
      <div class="pb-1 text-base font-weight-medium">Contrôle 2h</div>
      <div class="text-gray400">Agent <br/><span class="text-gray600">Dominique Auder</span></div>
      <div class="text-gray400">Objet <br/><span class="text-gray600">Posséde un carnet de PV</span></div>
    </div>

    <div class="event event-planning event-day">
      <button class="event-close btn-only-icon btn-sm btn-transparent btn-color-gray">
        <span class="sr-only">Close</span>
        <i class="icons-close icons-size-x5" aria-hidden="true"></i>
      </button>
      <div class="pb-1 text-base font-weight-medium">Bouclage 1h</div>
      <div class="text-gray400">Agent <br/><span class="text-gray600">Gaspard Maurin</span></div>
      <div class="text-gray400">Objet <br/><span class="text-gray600">Possède un carnet de PV, Présence des agrès de l’agent : pince</span></div>
    </div>
  </div>
</div>