{{ $scheduleFiltersMenuScratch := newScratch }}

<div id="collapseScheduleFiltersMenu" class="schedule-filters">
  <div class="schedule-filters-head">
    <div class="schedule-filters-title">Afficher les agendas</div>
    <ul class="toolbar mb-0">
      <li class="toolbar-item">
        <button class="btn btn-sm btn-white toolbar-item-spacing">
          <span class="sr-only">Restore</span>
          <i class="icons-refresh icons-size-1x25" aria-hidden="true"></i>
        </button>
      </li>
      <li class="toolbar-item">
        <button class="btn btn-sm btn-white toolbar-item-spacing" data-component="state" data-state="active, active" data-behaviour="toggle, toggle" data-target="#collapseScheduleFiltersMenu, .collapseScheduleFiltersButton" data-closeonclickoutside="true, true">
          <span class="sr-only">Close</span>
          <i class="icons-close icons-size-1x" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="schedule-filters-menu">
    <div class="filters-group">
      <div class="filters-group-head" data-toggle="collapse" data-target="#collapseExample1">
        <div class="filters-group-title text-uppercase">Mes agendas</div>
        <div class="filters-group-toggle text-primary">
          <i class="icons-arrow-down icons-size-x75" aria-hidden="true"></i>
        </div>
      </div>
      <div id="collapseExample1" class="collapse show filters-group-content">
        <div class="filters-menu-item">
          {{ $scheduleFiltersMenuScratch.Set "container" "is-green" }}
          {{ $scheduleFiltersMenuScratch.Set "name" "filters" }}
          {{ $scheduleFiltersMenuScratch.Set "id" "agenda01" }}
          {{ $scheduleFiltersMenuScratch.Set "label" "Agenda 01" }}
          {{ partial "components/checkbox.html" $scheduleFiltersMenuScratch }}
        </div>
        <div class="filters-menu-item">
          {{ $scheduleFiltersMenuScratch.Set "container" "is-yellow" }}
          {{ $scheduleFiltersMenuScratch.Set "id" "agenda02" }}
          {{ $scheduleFiltersMenuScratch.Set "label" "Agenda 02" }}
          {{ partial "components/checkbox.html" $scheduleFiltersMenuScratch }}
        </div>
        <div class="filters-menu-item">
          {{ $scheduleFiltersMenuScratch.Set "container" "is-gray" }}
          {{ $scheduleFiltersMenuScratch.Set "id" "agenda03" }}
          {{ $scheduleFiltersMenuScratch.Set "label" "Agenda 03" }}
          {{ partial "components/checkbox.html" $scheduleFiltersMenuScratch }}
        </div>
        <div class="filters-menu-item">
          {{ $scheduleFiltersMenuScratch.Set "container" "is-pink" }}
          {{ $scheduleFiltersMenuScratch.Set "id" "agenda04" }}
          {{ $scheduleFiltersMenuScratch.Set "label" "Agenda 04" }}
          {{ partial "components/checkbox.html" $scheduleFiltersMenuScratch }}
        </div>
      </div>
    </div>
    <div class="filters-group">
      <div class="filters-group-head" data-toggle="collapse" data-target="#collapseExample2">
        <div class="filters-group-title text-uppercase">Autres</div>
        <div class="filters-group-toggle text-primary">
          <i class="icons-arrow-down icons-size-x75" aria-hidden="true"></i>
        </div>
      </div>
      <div id="collapseExample2" class="collapse show filters-group-content">
        <div class="filters-menu-item has-hover">
          {{ $scheduleFiltersMenuScratch.Set "container" "" }}
          {{ $scheduleFiltersMenuScratch.Set "id" "filter3" }}
          {{ $scheduleFiltersMenuScratch.Set "label" "Gaspard Morin" }}
          {{ partial "components/checkbox.html" $scheduleFiltersMenuScratch }}
        </div>
        <div class="filters-menu-item has-hover">
          {{ $scheduleFiltersMenuScratch.Set "id" "filter4" }}
          {{ $scheduleFiltersMenuScratch.Set "label" "Antoine Colin" }}
          {{ partial "components/checkbox.html" $scheduleFiltersMenuScratch }}
        </div>
      </div>
    </div>
  </div>
</div>
