{{ $tableSortsMenuScratch := newScratch }}

<div id="collapseSortsMenu" class="table-filters">
  <div class="table-filters-head">
    <div class="table-filters-title">Trier par</div>
    <ul class="toolbar mb-0">
      <li class="toolbar-item">
        <button class="btn btn-sm btn-white toolbar-item-spacing" data-component="state" data-state="active, active" data-behaviour="remove, remove" data-target="#collapseSortsMenu, .collapseSortsButton">
          <span class="sr-only">Close</span>
          <i class="icons-close icons-size-1x" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="table-filters-menu">
    <div class="filters-group">
      <div class="filters-menu-item">
        {{ $tableSortsMenuScratch.Set "name" "sorts" }}
        {{ $tableSortsMenuScratch.Set "id" "sort1" }}
        {{ $tableSortsMenuScratch.Set "label" "Titre (ordre croissant)" }}
        {{ $tableSortsMenuScratch.Set "attr" "checked" }}
        {{ partial "components/radio.html" }}
      </div>
      <div class="filters-menu-item">
        {{ $tableSortsMenuScratch.Set "name" "sorts" }}
        {{ $tableSortsMenuScratch.Set "id" "sort2" }}
        {{ $tableSortsMenuScratch.Set "label" "Titre (ordre décroissant)" }}
        {{ $tableSortsMenuScratch.Set "attr" "checked" }}
        {{ partial "components/radio.html" }}
      </div>
      <div class="filters-menu-item">
        {{ $tableSortsMenuScratch.Set "name" "sorts" }}
        {{ $tableSortsMenuScratch.Set "id" "sort3" }}
        {{ $tableSortsMenuScratch.Set "label" "Mise à jour (récent)" }}
        {{ $tableSortsMenuScratch.Delete "attr" }}
        {{ partial "components/radio.html" }}
      </div>
      <div class="filters-menu-item">
        {{ $tableSortsMenuScratch.Set "name" "sorts" }}
        {{ $tableSortsMenuScratch.Set "id" "sort4" }}
        {{ $tableSortsMenuScratch.Set "label" "Mise à jour (ancienneté)" }}
        {{ $tableSortsMenuScratch.Delete "attr" }}
        {{ partial "components/radio.html" }}
      </div>
    </div>
  </div>
</div>
