{{ $tableFixedHeadScratch := newScratch }}

<div class="table-wrapper">
  <div class="table-scroller table-vh dragscroll">
    <table class="table">
      <thead class="thead thead-fixed thead-light">
        <tr>
          <th scope="col">
            <div class="cell-inner">
              {{ $tableFixedHeadScratch.Set "name" "thead" }}
              {{ $tableFixedHeadScratch.Set "id" "thead" }}
              {{ $tableFixedHeadScratch.Set "container" "custom-checkbox-alone" }}
              {{ partial "components/checkbox.html" $tableFixedHeadScratch }}
            </div>
          </th>
          <th scope="col"><div class="cell-inner">Nom</div></th>
          <th scope="col"><div class="cell-inner">Type</div></th>
          <th scope="col"><div class="cell-inner">Vers</div></th>
          <th scope="col"><div class="cell-inner">Agent</div></th>
          <th scope="col"><div class="cell-inner">Mise à jour</div></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="tbody">
        {{ range $index,$item := (index .Page.Params.table) }}
        <tr>
          <td>
            <div class="cell-inner">
              {{ $tableFixedHeadScratch.Set "name" $index }}
              {{ $tableFixedHeadScratch.Set "id" $index }}
              {{ $tableFixedHeadScratch.Set "container" "custom-checkbox-alone" }}
              {{ partial "components/checkbox.html" $tableFixedHeadScratch }}
            </div>
          </td>
          <td><div class="cell-inner">{{ $item.name }}</div></td>
          <td><div class="cell-inner">{{ $item.type }}</div></td>
          <td><div class="cell-inner">{{ $item.version }}</div></td>
          <td><div class="cell-inner">{{ $item.agent }}</div></td>
          <td><div class="cell-inner">{{ $item.update }}</div></td>
          <td>
            <div class="cell-inner justify-content-end">
              <button class="btn btn-only-icon btn-transparent btn-favorite">
                <span class="sr-only">Favorite</span>
                <i class="icons-favorite-on icons-size-1x25" aria-hidden="true"></i>
              </button>
              <button class="btn btn-only-icon btn-transparent btn-color-gray">
                <span class="sr-only">Favorite</span>
                <i class="icons-circle-information icons-size-1x25" aria-hidden="true"></i>
              </button>
              <div class="btn-group dropdown">
                <button class="btn btn-only-icon btn-transparent btn-color-gray" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window">
                  <span class="sr-only">Favorite</span>
                  <i class="icons-options icons-size-1x75" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button type="button" class="dropdown-item" href="#">Télécharger</button>
                  <button type="button" class="dropdown-item" href="#">Imprimer</button>
                  <button type="button" class="dropdown-item" href="#">Partager</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
