// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

// stylelint-disable
$colors: map-remove($colors, "indigo");

$btn-colors: () !default;
$btn-colors: map-merge((
  "primary":    (
    theme-color("primary"), theme-color("primary"), color("white"),
    #0074af, #0074af, color("white"),
    #0074af, #0074af, color("white")
  ),
  "secondary":  (
    $secondary, $secondary, color("white"),
    #333333, #333333, color("white"),
    #333333, #333333, color("white")
  ),
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      (
    color("white"), color("white"), theme-color("primary"),
    color("white"), color("white"), #0074af,
    color("white"), color("white"), #0074af
  ),
  "transparent": (
    transparent, transparent, color("white"),
    transparent, transparent, color("white"),
    transparent, transparent, color("white"),
  )
), $btn-colors);

$btn-rounded-colors: () !default;
$btn-rounded-colors: map-merge((
  "primary":    (
    theme-color("primary"), theme-color("primary"), color("white"),
    #0074af, #0074af, color("white")
  ),
  "white": (
    color("white"), color("white"), theme-color("primary"),
    theme-color("primary"), theme-color("primary"), color("white")
  ),
  "facebook": (
    gray("400"), gray("400"), color("white"),
    #3b5998, #3b5998, color("white")
  ),
  "twitter": (
    gray("400"), gray("400"), color("white"),
    #4099FF, #4099FF, color("white"),
  ),
  "linkedin": (
    gray("400"), gray("400"), color("white"),
    #007bb6, #007bb6, color("white")
  ),
  "youtube": (
    gray("400"), gray("400"), color("white"),
    #bb0000, #bb0000, color("white")
  )
), $btn-rounded-colors);

$sami-colors: () !default;
$sami-colors: map-merge((
  "blue":       $blue,
  "red":        $red,
  "yellow":     $yellow,
  "green":      $green,
  "gray":       $gray-600
), $sami-colors);


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);
// stylelint-enable
