---
permalink: /docs/4.0/examples/list-double-columns/
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forms template</title>

    <link href="{{ site.baseurl }}/main.css" rel="stylesheet">
  </head>
  <body>
    {% include components/mastnav.html %}
    {% include components/mastheader.html %}
    <div class="subactionbars">
      <div class="toolbar w-100">
        <div class="w-50 toolbar-item separator-gray-200">
          <button type="button" class="btn btn-block btn-link justify-content-center btn-color-gray collapseFiltersButton" data-component="state" data-state="active, active" data-behaviour="toggle, toggle" data-target="#collapseFiltersMenu, .collapseFiltersButton" data-closeonclickoutside="true, true">Filtrer</button>
        </div>
        <div class="w-50 toolbar-item separator-gray-200 w-50">
          <button type="button" class="btn btn-block btn-link justify-content-center btn-color-gray collapseSortsButton" data-component="state" data-state="active, active" data-behaviour="toggle, toggle" data-target="#collapseSortsMenu, .collapseSortsButton">Trier</button>
        </div>
      </div>
    </div>
    <div class="actionbar">
      <div class="actionbar-head">
        <h1 class="mb-0">Liste en 2 volets</h1>
      </div>
    </div>
    {% include components/table-filters-menu.html %}
    {% include components/table-sorts-menu.html %}
    <main div class="mastcontainer has-actionbar-subactionbar">
      {% include components/list-double-columns.html %}
    </main>
    <script src="{{ site.baseurl }}/main.js"></script>
  </body>
</html>
