// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

// stylelint-disable
$gray-100: #f2f2f2;
$gray-200: #d7d7d7;
$gray-300: #b9b9b9;
$gray-400: #747678;
$gray-500: #4d4f53;

$blue:    #0088ce;
$purple:  #6e1e78;
$pink:    #a1006b;
$red:     #cd0037;
$orange:  #e05206;
$yellow:  #ffb612;
$green:   #82be00;
$teal:    #d2e100;
$cyan:    #009aa6;

$secondary:     $gray-500;
