// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

// stylelint-disable
$gray-100: #f2f2f2;
$gray-200: #d7d7d7;
$gray-300: #b9b9b9;
$gray-400: #747678;
$gray-500: #4d4f53;

$blue:    #0088ce;
$purple:  #6e1e78;
$pink:    #a1006b;
$red:     #cd0037;
$orange:  #e05206;
$yellow:  #ffb612;
$green:   #82be00;
$teal:    #d2e100;
$cyan:    #009aa6;

$secondary:     $gray-500;
// stylelint-enable


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:              false;


// Body
//
// Settings for the `<body>` element.

$body-color:                $gray-500;


// Links
//
// Style anchor elements.

$link-hover-color:          #0074af;
$link-hover-decoration:     none;


// Components
//
// Define common padding and border radius sizes and more.

$border-radius:               .4375rem;
$border-radius-lg:            $border-radius;
$border-radius-sm:            $border-radius;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case

$font-size-base:              1rem; // Assumes the browser default, typically `16px`

$font-weight-medium:          500;

$line-height-base:            1.5;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-line-height:       $line-height-base;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y:             .59375rem;
$btn-padding-x:             1.875rem;
$btn-height:                2.8125rem;

$btn-padding-y-sm:          .21875rem;
$btn-padding-x-sm:          1.25rem;

$btn-font-weight:           $font-weight-medium;


// Forms

$input-padding-y:                       .53125rem;
$input-padding-x:                       1.25rem;

$input-bg:                              $gray-100;
$input-disabled-bg:                     $gray-200;

$input-color:                           $gray-400;
$input-border-color:                    $gray-100;
$input-border-width:                    .125em;

$input-focus-bg:                        $gray-100;
$input-focus-border-color:              $gray-100;

$input-placeholder-color:               $gray-300;

$input-height-border:                   $input-border-width;

$input-height-inner:                    ($font-size-base * $input-btn-line-height) + ($input-padding-y * 2);
$input-height:                          calc(#{$input-height-inner} + #{$input-height-border});


// Form validation
$form-feedback-font-size:           1rem;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-border-color:             #d8d8d8;
