---
permalink: /docs/4.3/examples/table-group/
default:
  - name: Sem Inceptos Tellus
  - name: Sollicitudin Adipiscing Mattis
  - name: Amet Porta
  - name: Pharetra Fusce Venenatis
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forms template</title>

    {% include darkmode-js-header.html %}
  </head>
  <body>
    {% include components/mastnav.html %}
    {% include components/mastheader.html %}

    <div class="actionbar">
      <div class="actionbar-head">
        <h1 class="mb-0">Titre tableau</h1>
        <ul class="toolbar mb-0">
          <li class="toolbar-item">
            <button class="btn btn-sm btn-transparent btn-color-gray toolbar-item-spacing">
              <span class="sr-only">List</span>
              <i class="icons-list icons-size-1x25" aria-hidden="true"></i>
            </button>
          </li>
          <li class="toolbar-item">
            <button class="btn btn-sm btn-transparent btn-color-gray toolbar-item-spacing collapseSearchButton" data-component="state" data-state="active, active, active, active" data-behaviour="toggle, toggle, remove, remove" data-target="#collapseSearchMenu, .collapseSearchButton, #collapseFiltersMenu, .collapseFiltersButton" data-closeonclickoutside="true, true, false, false">
              <span class="sr-only">Search</span>
              <i class="icons-search icons-size-1x25" aria-hidden="true"></i>
            </button>
          </li>
          <li class="toolbar-item d-none d-md-block">
            <button class="btn btn-sm btn-transparent btn-color-gray toolbar-item-spacing collapseFiltersButton" data-component="state" data-state="active, active, active, active" data-behaviour="toggle, toggle, remove, remove" data-target="#collapseFiltersMenu, .collapseFiltersButton, #collapseSearchMenu, .collapseSearchButton" data-closeonclickoutside="true, true, false, false">
              <span class="sr-only">Filters</span>
              <i class="icons-filters icons-size-1x25" aria-hidden="true"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="controlbar">
      <div class="toolbar w-100">
        <div class="w-50 toolbar-item separator-gray-200">
          <button type="button" class="btn btn-block btn-link justify-content-center btn-color-gray collapseFiltersButton" data-component="state" data-state="active, active" data-behaviour="toggle, toggle" data-target="#collapseFiltersMenu, .collapseFiltersButton" data-closeonclickoutside="true, true">Filtrer</button>
        </div>
        <div class="w-50 toolbar-item separator-gray-200 w-50">
          <button type="button" class="btn btn-block btn-link justify-content-center btn-color-gray collapseSortsButton" data-component="state" data-state="active, active" data-behaviour="toggle, toggle" data-target="#collapseSortsMenu, .collapseSortsButton">Trier</button>
        </div>
      </div>
    </div>

    <main role="main" class="mastcontainer">
      {% include components/table-group.html data=site.data.tables %}
    </main>

    {% include components/table-filters-menu.html %}
    {% include components/table-search-menu.html %}
    {% include components/table-sorts-menu.html %}

    <script src="{{ site.baseurl }}/bootstrap-sncf.min.js"></script>
  </body>
</html>
