/* mobile-menu
   ========================================================================== */

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-tooltip + 2;
  display: flex;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, .6);
}

.mobile-menu-inner {
  position: relative;
  width: 100%;
  background-color: color("white");
}

.mobile-menu-close {
  position: absolute;
  top: rem(20px);
  right: rem(20px);
  color: color("dark");
  background: transparent;
  border: none;

  &:hover,
  &:focus {
    color: color("primary");
  }
}

@include media-breakpoint-up(lg) {
  .mobile-menu {
    display: none;
  }
}
