/* actionbar
   ========================================================================== */

.actionbar {
  position: fixed;
  padding-right: rem(12px);
  padding-left: rem(40px);
  background-color: color("white");
}

.actionbar-head {
  display: flex;
  justify-content: space-between;
  padding-top: rem(20px);
}

@include media-breakpoint-down(md) {
  .actionbar {
    top: rem(76px);
    width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  .actionbar {
    top: rem(60px);
    border-bottom: 1px solid #d8d8d8;
  }
}

@include media-breakpoint-up(lg) {
  .actionbar {
    top: rem(66px);
    right: 0;
    width: calc(100% - #{rem(100px)});
  }
}
