/* icons utilities
   ========================================================================== */

[class^="icons-"] {
  display: inline-block;
}

// rotate
.icon-rotate-90 {
  transform: rotate(90deg);
}

.icon-rotate-180 {
  transform: rotate(180deg);
}

.icon-rotate-270 {
  transform: rotate(270deg);
}

// flip
.icon-flip-horizontal {
  transform: scaleX(-1);
}

.icon-flip-vertical {
  transform: scaleY(-1);
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    // size
    .icon-size-x5#{$infix} {
      font-size: $font-size-base * .5;
    }

    .icon-size#{$infix}-x75 {
      font-size: $font-size-base * .75;
    }

    .icon-size#{$infix}-1x {
      font-size: $font-size-base;
    }

    .icon-size#{$infix}-1x25 {
      font-size: $font-size-base * 1.25;
    }

    .icon-size#{$infix}-1x50 {
      font-size: $font-size-base * 1.5;
    }

    .icon-size#{$infix}-1x75 {
      font-size: $font-size-base * 1.75;
    }

    .icon-size#{$infix}-4x50 {
      font-size: $font-size-base * 4.5;
    }
  }
}
