/* icons utilities
   ========================================================================== */

// rotate
.icon-rotate-90 {
  transform: rotate(90deg);
}

.icon-rotate-180 {
  transform: rotate(180deg);
}

.icon-rotate-270 {
  transform: rotate(270deg);
}

// flip
.icon-flip-horizontal {
  transform: scaleX(-1);
}

.icon-flip-vertical {
  transform: scaleY(-1);
}


// size
.icon-size-x5 {
  font-size: $font-size-base * .5;
}

.icon-size-x75 {
  font-size: $font-size-base * .75;
}

.icon-size-1x {
  font-size: $font-size-base;
}

.icon-size-1x25 {
  font-size: $font-size-base * 1.25;
}

.icon-size-1x50 {
  font-size: $font-size-base * 1.5;
}

.icon-size-1x75 {
  font-size: $font-size-base * 1.75;
}
