/* actionbar
   ========================================================================== */

$actionbar-min-height:   rem(62px);
$actionbar-max-height:   rem(90px);

// md/768 +
$actionbar-min-height-md:   rem(80px);
$actionbar-max-height-md:   rem(105px);

// lg/1024 +
$actionbar-min-height-lg:   rem(70px);
$actionbar-max-height-lg:   rem(98px);

// xl/1280 +
$actionbar-min-height-xl:   rem(80px);
$actionbar-max-height-xl:   rem(105px);

.actionbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $actionbar-min-height;
  padding-right: rem(20px);
  padding-left: rem(20px);
  background-color: color("white");

  > nav .breadcrumb {
    padding-top: rem(3px);
  }

  .breadcrumb {
    border-bottom: none;
  }
}

.actionbar-lg {
  height: $actionbar-max-height;
}

.actionbar-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // padding-top: rem(20px);
  // padding-bottom: rem(7px);

  // &:last-child {
  //   padding-bottom: rem(20px);
  // }

  h1,
  .h1 {
    a {
      display: flex;
      align-items: center;

      &:not(:hover) {
        color: $headings-color;
      }
    }
  }

  .breadcrumb {
    height: rem(30px);
  }
}

@include media-breakpoint-down(md) {
  .actionbar {
    top: rem(76px);
    width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  .actionbar {
    top: rem(60px);
    border-bottom: 1px solid #d8d8d8;
  }
}

@include media-breakpoint-up(md) {
  .actionbar {
    height: $actionbar-min-height-md;
  }

  .actionbar-lg {
    justify-content: flex-end;
    height: $actionbar-max-height-md;
  }
}

@include media-breakpoint-up(lg) {
  .actionbar {
    height: $actionbar-min-height-lg;
    padding-right: rem(12px);
    padding-left: rem(40px);
  }

  .actionbar-lg {
    height: $actionbar-max-height-lg;
  }
}

@include media-breakpoint-up(xl) {
  .actionbar {
    top: rem(66px);
    right: 0;
    width: calc(100% - #{rem(100px)});
    height: $actionbar-min-height-xl;
  }

  .actionbar-lg {
    height: $actionbar-max-height-xl;
  }
}
