/* mastcontainer
   ========================================================================== */

@include media-breakpoint-down(sm) {
  .mastcontainer {
    padding-top: $mastheader-height;
    padding-bottom: $mastnav-height-sm;

    &.has-actionbar {
      padding-top: ($mastheader-height + $actionbar-min-height);
    }

    &.has-actionbar-tabs {
      padding-top: ($mastheader-height + $actionbar-max-height);
    }

    &.has-actionbar-tabs-subactionbar {
      padding-top: ($mastheader-height + $actionbar-max-height + $subactionbar-height);
    }

    &.has-actionbar-subactionbar {
      padding-top: ($mastheader-height + $actionbar-min-height + $subactionbar-height);
    }
  }
}

@include media-breakpoint-up(md) {
  .mastcontainer {
    padding-top: $mastheader-height-md;

    &.has-actionbar,
    &.has-actionbar-subactionbar {
      padding-top: ($mastheader-height-md + $actionbar-min-height-md);
    }

    &.has-actionbar-tabs,
    &.has-actionbar-tabs-subactionbar {
      padding-top: ($mastheader-height-md + $actionbar-max-height-md);
    }
  }
}

@include media-breakpoint-up(lg) {
  .mastcontainer {
    padding-top: $mastheader-height-lg;
    padding-left: $mastnav-width-lg;

    &.has-actionbar,
    &.has-actionbar-subactionbar {
      padding-top: ($mastheader-height-lg + $actionbar-min-height-lg);
    }

    &.has-actionbar-tabs,
    &.has-actionbar-tabs-subactionbar {
      padding-top: ($mastheader-height-lg + $actionbar-max-height-lg);
    }
  }
}

@include media-breakpoint-up(xl) {
  .mastcontainer {
    padding-top: $mastheader-height-xl;

    &.has-actionbar,
    &.has-actionbar-subactionbar {
      padding-top: ($mastheader-height-xl + $actionbar-min-height-xl);
    }

    &.has-actionbar-tabs,
    &.has-actionbar-tabs-subactionbar {
      padding-top: ($mastheader-height-xl + $actionbar-max-height-xl);
    }
  }
}
