/* forms
   ========================================================================== */
// stylelint-disable selector-no-qualifying-type

$icon-width: rem(48px);

//
// Textual form controls
//

.form-control-container {
  position: relative;
}

// fancy border on focus
.form-control-state {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  @if $enable-rounded {
    border-radius: $input-border-radius;
  } @else {
    border-radius: 0;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: $input-border-width;
    content: "";
    background-color: $input-border-color;
  }
}

.form-control {
  &.standalone:focus {
    border-bottom-color: theme-color("primary");
  }

  .was-validated &.standalone:valid,
  &.standalone.is-valid,
  .was-validated &.standalone:invalid,
  &.standalone.is-invalid {
    border-top-color: gray("100");
    border-right-color: gray("100");
    border-left-color: gray("100");

    &:focus {
      border-top-color: gray("100");
      border-right-color: gray("100");
      border-left-color: gray("100");
    }
  }

  &:focus ~ .form-control-state {
    &::after {
      background-color: theme-color("primary");
    }
  }

  .was-validated &:valid,
  &.is-valid {
    ~ .form-control-state::after {
      background-color: theme-color("success");
    }
  }

  .was-validated &:invalid,
  &.is-invalid {
    ~ .form-control-state::after {
      background-color: theme-color("danger");
    }
  }

  &.has-right-icon {
    padding-right: $icon-width;
  }

  &.has-left-icon {
    padding-left: $icon-width;
  }

  &[readonly] {
    padding-right: $icon-width;
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="27" height="25" viewBox="0 0 27 25"><defs><style>.disabled-icon{fill:#747678;}</style></defs><path class="disabled-icon" d="M26.79,25.05H1.21a.73.73,0,0,0,0,1.45H26.79a.73.73,0,0,0,0-1.45Z" transform="translate(-0.5 -1.5)"/><path class="disabled-icon" d="M19.8,8.87h-.61V6.73a5.23,5.23,0,0,0-10.46,0V8.87H8.2a1.63,1.63,0,0,0-1.63,1.62V21.32A1.62,1.62,0,0,0,8.2,22.94H19.8a1.62,1.62,0,0,0,1.63-1.62V10.49A1.63,1.63,0,0,0,19.8,8.87ZM10.93,6.73a3,3,0,1,1,6.06,0V8.87H10.93Zm3,14.15a5,5,0,1,1,5-5A5,5,0,0,1,14,20.88Z" transform="translate(-0.5 -1.5)"/><path class="disabled-icon" d="M14,12.62a3.29,3.29,0,1,0,3.29,3.29A3.29,3.29,0,0,0,14,12.62Zm0,4.75a1.47,1.47,0,1,1,1.47-1.46A1.46,1.46,0,0,1,14,17.37Z" transform="translate(-0.5 -1.5)"/></svg>');
    background-repeat: no-repeat;
    background-position: center right 18px;
    background-size: 27 25;
  }
}

.form-control-icon {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $icon-width;
  height: 100%;
  color: theme-color("primary");

  &.right {
    right: 0;
    padding-right: rem(8px);
  }

  &.left {
    left: 0;
    padding-left: rem(8px);
  }
}

