/* input group
   ========================================================================== */

.input-group {
  > .input-group-last:not(:last-child) > .btn {
    @include border-right-radius($border-radius);
  }

  .form-control-container {
    flex: 1 1 auto;
    width: 1%;

    &:not(:last-child),
    &:not(:last-child) .form-control,
    &:not(:last-child) .form-control-state  {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.input-group-horizontal {
  display: flex;
  align-items: center;
}

.input-group-prepend {
  > .btn,
  > .btn-group .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  + .form-control-container {
    &,
    .form-control-state  {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.input-group-append {
  > .btn,
  > .btn-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
