---
permalink: /docs/4.0/examples/calendar-monthly/
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Monthly calendar layout</title>

    <link href="{{ site.baseurl }}/main.css" rel="stylesheet">
  </head>
  <body>
    {% include components/mastnav.html %}
    {% include components/mastheader.html %}

    <main div class="mastcontainer h-100 d-flex flex-column">
      {% include components/schedule-monthly.html %}
    </main>

    <script src="{{ site.baseurl }}/main.js"></script>
  </body>
</html>