---
permalink: /docs/4.0/examples/calendar-monthly/
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Monthly calendar layout</title>

    <link href="{{ site.baseurl }}/main.css" rel="stylesheet">
  </head>
  <body>
    {% include components/mastnav.html %}
    {% include components/mastheader.html %}

    <div class="actionbar">
      <div class="actionbar-head">
        <h1 class="mb-0">Titre section</h1>
        <div class="d-flex align-items-center">
          <div class="d-none d-md-flex align-items-center pr-2">
            <button type="button" class="btn btn-only-icon btn-white">
              <span class="sr-only">Juin 2017 .Sem 20</span>
              <i class="icons-arrow-prev icon-size-1x text-primary pb-1"></i>
            </button>
            <div class="mb-0 h1 font-weight-medium text-primary pr-3 pl-3">Juin 2017 <small class="lead d-none d-lg-inline">.Sem 21</small></div>
            <button type="button" class="btn btn-only-icon btn-white">
              <span class="sr-only">Juin 2017 .Sem 22</span>
              <i class="icons-arrow-next icon-size-1x text-primary pb-1"></i>
            </button>
          </div>
          <ul class="toolbar mb-0">
            <li class="toolbar-item d-none d-lg-block">
              <div class="toolbar-item-spacing">
                <div class="options-links">
                  <a href="#" class="options-item active">Mois</a>
                  <a href="#" class="options-item">Semaine</a>
                  <a href="#" class="options-item">Jour</a>
                  <a href="#" class="options-item">Planning</a>
              </div>
            </li>
            <li class="toolbar-item toolbar-item-spacing toolbar-item-no-spacing-right-lg no-separator separator-lg">
              <div class="btn-group dropdown">
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span>Primary</span>
                  <i class="icons-arrow-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </li>
            <li class="toolbar-item d-lg-none">
              <button class="btn btn-sm btn-transparent btn-color-gray toolbar-item-spacing collapseScheduleFiltersButton" data-component="state" data-state="active, active" data-behaviour="add, add" data-target="#collapseScheduleFiltersMenu, .collapseScheduleFiltersButton">
                <span class="sr-only">Options</span>
                <i class="icons-options icon-size-1x25"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main div class="mastcontainer h-100 d-flex flex-column">
      <div class="schedule-grid">
        <div class="schedule-sidebar schedule-sidebar-filters bg-white border-top border-right border-light">
          {% include components/schedule-filters-menu.html %}
        </div>
        <div class="schedule-maincontent">
          <div class="d-flex d-md-none align-items-center justify-content-between px-4 py-4">
            <button type="button" class="btn btn-only-icon btn-white">
              <span class="sr-only">Juin 2017 .Sem 20</span>
              <i class="icons-arrow-prev icon-size-1x text-primary pb-1"></i>
            </button>
            <div class="mb-0 h1 font-weight-medium text-primary pr-3 pl-3">Juin 2017 <small class="lead d-none d-lg-inline">.Sem 21</small></div>
            <button type="button" class="btn btn-only-icon btn-white">
              <span class="sr-only">Juin 2017 .Sem 22</span>
              <i class="icons-arrow-next icon-size-1x text-primary pb-1"></i>
            </button>
          </div>
          {% include components/schedule-monthly.html %}
        </div>
      </div>
    </main>

    <script src="{{ site.baseurl }}/main.js"></script>
  </body>
</html>