/* Search input */
.algolia-autocomplete {
  display: block;
  flex: 1;
}

/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu {
  background-color: color("white");
  border-right: gray("200") solid 1px;
  border-bottom: gray("200") solid 1px;
  border-left: gray("200") solid 1px;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  box-shadow: none;
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  align-items: center;
  margin-bottom: rem(14px);
  font-size: $font-size-xs;
  font-weight: 500;
  color: gray("400");
  text-transform: uppercase;
  border: none;
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: gray("400");
}

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

/* Description description (eg. Bootstrap currently works...) */
.algolia-autocomplete .algolia-docsearch-suggestion--text {
  font-size: .9rem;
  font-weight: 500;
  color: gray("400");
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #0088ce;
}
