// Local docs variables
$doc-body-bg:               $black;
$doc-highlight-color:       $gray-100;
$doc-highlight-bg:          $carbon;
$doc-bd-border-color:       $carbon;

$doc-masthead-bg:           $black;

$doc-callout-border-color:  $carbon;
$doc-callout-bg:            $carbon;

$doc-sidebar-color:         $black;

$bd-purple:        $purple !default;
$bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%) !default;
$bd-purple-light:  lighten(saturate($bd-purple, 5%), 45%) !default;
$bd-dark:          $carbon !default;
$bd-download:      #ffe484 !default;
$bd-info:          $cyan !default;
$bd-warning:       $yellow !default;
$bd-danger:        $orange !default;

$doc-footer-bg:    $carbon;
$doc-footer-color: $body-color;
