// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

// stylelint-disable
$blue:    #0088ce;
$orange:  #e05206;

$secondary:     $gray-500;
$danger:        $orange;

$required-asterix:  $orange;

$btn-colors: ();
$btn-colors: map-merge((
  "primary":    (
    theme-color("primary"), theme-color("primary"), color("white"),
    #0074af, #0074af, color("white"),
    #0074af, #0074af, color("white")
  ),
  "secondary":  (
    $secondary, $secondary, color("white"),
    #333333, #333333, color("white"),
    #333333, #333333, color("white")
  ),
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      (
    color("white"), color("white"), theme-color("primary"),
    color("white"), color("white"), #0074af,
    color("white"), color("white"), #0074af
  ),
  "transparent": (
    transparent, transparent, color("white"),
    transparent, transparent, color("primary"),
    transparent, transparent, color("primary"),
  )
), $btn-colors);

$btn-color-gray: gray("600");

$btn-disabled-color:        $gray-300;
$btn-disabled-bg:           $gray-100;
$btn-disabled-border-color: $gray-100;

$btn-rounded-colors: ();
$btn-rounded-colors: map-merge((
  "primary":    (
    theme-color("primary"), theme-color("primary"), color("white"),
    #0074af, #0074af, color("white")
  ),
  "white": (
    color("white"), color("white"), theme-color("primary"),
    theme-color("primary"), theme-color("primary"), color("white")
  ),
  "gray": (
    gray("300"), gray("300"), color("white"),
    gray("300"), gray("300"), color("white")
  ),
  "facebook": (
    gray("400"), gray("400"), color("white"),
    #3b5998, #3b5998, color("white")
  ),
  "twitter": (
    gray("400"), gray("400"), color("white"),
    #4099FF, #4099FF, color("white"),
  ),
  "linkedin": (
    gray("400"), gray("400"), color("white"),
    #007bb6, #007bb6, color("white")
  ),
  "instagram": (
    gray("400"), gray("400"), color("white"),
    #c32aa3, #c32aa3, color("white")
  ),
  "youtube": (
    gray("400"), gray("400"), color("white"),
    #bb0000, #bb0000, color("white")
  )
), $btn-rounded-colors);

$sami-colors: ();
$sami-colors: map-merge((
  "green":      $green,
  "blue":       $blue,
  "yellow":     $yellow,
  "red":        $red,
  "gray":       $gray-500
), $sami-colors);
$sami-bg:       $carbon;
$sami-color:    $white;


// stylelint-enable

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $gray-100;
$body-bg-lg:                $gray-100;
$body-color:                $gray-500;
$background:                $body-bg;


// Components
//
// Define common padding and border radius sizes and more.

$border-color:              $gray-500;
$component-active-color:    $black;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$headings-color:              $gray-600;
$text-muted:                  $gray-400;

$blockquote-small-color:      $gray-400;


// ControlBar
//
$controlbar-bg:               $gray-100;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-color:                 $body-color !default;
$table-bg:                    #fff;
$table-accent-bg:             rgba($black, .05);
$table-hover-color:           $table-color !default;
$table-hover-bg:              rgba($black, .075);
$table-active-bg:             $table-hover-bg;

$table-border-width:          $border-width;
$table-border-color:          #d8d8d8;

$table-head-bg:               $gray-100;
$table-head-color:            $gray-600;


// Table Filters

$table-filters-color:             $body-color;
$table-filters-title-color:       $gray-600;
$table-filters-item-color:        $gray-500;
$table-filters-group-title-color: $gray-500;
$table-filters-bg:                $white;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// Button cards
$btn-card-bg:                 $white;
$btn-card-border:             $white;
$btn-card-color:              $gray-400;
$btn-card-active-bg:          $primary;
$btn-card-active-border:      $primary;
$btn-card-active-color:       $white;


// Forms

$input-bg:                              $gray-100;
$input-bg-mastheader:                   $input-bg;
$input-disabled-bg:                     $gray-100;
$input-disabled-color:                  $gray-500;

$input-focus-bg:                        $gray-100;

$input-placeholder-color:               $gray-400;

$form-toolbar-border-color:             $gray-100;
$form-toolbar-color:                    $body-color;

$form-control-white:                    $white; // Only useful for darkmode

$form-error-color:                      $white;


//
// Chips
//

$chips-color:                           $white;
$chips-input-color:                     $primary;

$custom-control-indicator-bg:           $white;

$custom-control-label-color:            $gray-400;


// REFACTORING
$switch-control-slider-bg:          $gray-100;
$select-improved-border-color:      $gray-100;
$select-improved-menu-item-color:   $gray-500;
$select-improved-menu-bg:           $white;
$select-improved-menu-border-color: $gray-200;
$select-improved-group-title:       $gray-500;


//
// Advanced search
//

$advanced-search-bg:                $white;
$advanced-search-border-color:      $gray-200;
$advanced-search-color:             $gray-500;
$advanced-search-menu-title-color:  $gray-400;


// Navs

$nav-tabs-bg:                       $white;
$nav-tabs-color:                    $gray-400;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-color:                    $gray-600;
$dropdown-bg:                       $white;

$dropdown-link-color:               $gray-900;

$dropdown-link-disabled-color:      $gray-600;

$dropdown-header-color:             $gray-400;


// Mastnav
$mastnav-color-lg:                  $white;
$mastcontent-bg:                    $white;

// Actionbar
$actionbar-bg:                      $white;

// Menus, panels
$menubar-color:                     $gray-600;
$menubar-bg:                        $white;
$menu-color:                        $white;
$menu-secondary-color:              $white;

// Anchor
$anchor-gradient-color:             $gray-200;
$anchor-item-color:                 $gray-400;
$anchor-item-bg:                    $white;

// Accordion
$accordion-bg:                      $gray-100;

// Proof
$proof-gray-bg:                     $gray-100;
$proof-strip-color:                 $gray-200;

// Editorial
$editorial-color:                   $carbon;
$editorial-bg:                      $gray-100;
$edito-push-highlight-bg:           $gray-100;

// Packshot
$packshot-color:                    $carbon;
$packshot-bg:                       $gray-100;

// Contact
$edito-contact-bg:                  $gray-100;

// Tongues
$tongues-point:                     $white;

// Vignettes
$vignette-bg:                      $white;

// Pagination
$pagination-color:                  $gray-400;
$pagination-disabled-color:         $gray-600;


// Cards

$card-bg:                           $white;


// Tooltips

$tooltip-bg:                  $black;


// Popovers

$popover-bg:                        $white;
$popover-header-bg:                 $white;
$popover-header-color:              $primary;


// Modals

// Padding applied to the modal body
$modal-content-bg:               $white;
$modal-content-border-color:     rgba($black, .2);


// Progress bars

$progress-bg:                       $white;


// List group

$list-group-bg:                     $white;
$list-group-hover-bg:               $gray-100;
$list-group-active-bg:              $white;
$list-group-active-border-color:    $border-color;
$list-group-disabled-color:         $gray-600;
$list-group-action-active-bg:       $gray-200;
$list-group-double-panel-title-bg:  $gray-100;


// Breadcrumbs

$breadcrumb-color:                  $carbon;
$breadcrumb-bg:                     $white;
$breadcrumb-divider-color:          $gray-600;


// Mobile menu

$mobile-menu-bg:                    $white;
$mobile-menu-close-color:           color("dark");


// Carousel

$carousel-bg:                       $gray-100;


// Swiper for carousel
$swiper-btn-color:                  $primary;
$swiper-btn-bg:                     $white;
$swiper-btn-disabled-color:         $white;


// Close

$close-color:                       #4c4f54;


// Code

$code-color:                        $pink;


// Flatpickr

$flatpickr-bg:                      $white;
$flatpickr-day-othermonth-color:    $carbon;
$flatpickr-weekday-color:           $gray-600;
$flatpickr-day-focus-color:         $white;
$flatpickr-day-hover-color:         $white;

$flatpickr-time-color:              $gray-400;
$flatpickr-time-input-bg:           $gray-100;
$flatpickr-time-focus-bg:           $gray-200;

$flatpickr-range-bg:                #e5f3fa;


// Charts

$charts-tooltip-bg:                 $gray-100;
$charts-tooltip-title-color:        $carbon;
$charts-head-bg:                    $gray-100;
